input-cache
output
temp
fsh-generated
template
20220429 - Receta Digital Interoperable.pptx
input.zip
Secuencia.drawio
input/fsh/*.old
input/fsh/examples/*.old
input/fsh/*.txt
input.zip
*.pdf
*.sql
*.sh
*.bat
desktop.ini
input/fsh/desktop.ini
input/desktop.ini
input/fsh/examples/desktop.ini